@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* reset do CSS */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


header {
    background-color: rgb(32, 40, 77);
    color: rgb(247, 228, 61);
    padding: 30px;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Playfair Display
}

main {
    background-color: rgb(176, 197, 216);
    flex: 1;
    padding: 48px 38px;
}

about-section {
    display: block;
    background-color: aliceblue;
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    border-radius: 12px;
    margin-bottom: 40px;
}

#titulo-sobre-mim {
    font-size: 30px;
    border-bottom: 3px solid rgb(32, 40, 77);
}

.texto-sobre-mim {
    font-size: 20px;
    color: rgb(0, 0, 0);
}

meus-hobbies {
    display: block;
    background-color: aliceblue;
    width: 90%;
    margin: 0px auto;
    padding: 40px;
    border-radius: 12px;
    margin-bottom: 40px;
}

ul {
    list-style: none;
    padding: 0%;
    display: flex;
    gap: 12px;
}

li {
    background-color: aliceblue;
    padding: 5px;
    border-left: 4px solid  rgb(32, 40, 77);
    min-width: 80px;
}

li:hover {
    background-color: rgb(111, 128, 121);
    transform: translateX(5px);
    transition: all 0.3s ease; 
}

#meus-hobbies {
    font-size: 40px;
    border-bottom: 3px solid rgb(32, 40, 77);
    margin-bottom: 20px;
}

contact {
    display: block;
    background-color: rgb(255, 255, 255);
    width: 90%;
    margin: 0px auto;
    padding: 40px;
    border-radius: 12px;
    margin-top: 40px;
}

contact h2 {
    margin-bottom: 8px;
    font-size: 25px;
    text-align: center;
}

contact p {
    text-align: center;
    font-size: 20px;
}

contact a {
    color: rgb(15, 7, 128);
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem;
    margin:  0 0.5rem;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    display: inline-block;
    transition: all 0.3 ease;
}

contact a:hover {
    background-color: aqua;
    color: rgb(0, 0, 0);
    transform: translateY(-2px);
}

footer {
    background-color:  rgb(32, 40, 77);
    color: rgb(247, 228, 61);
    text-align: center;
    padding: 2rem;
    width: 100%;
}

footer p {
    font-size: 20px;
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.5em;
    }

    header p {
        font-size: 1em;
    }

    main {
        padding: 10px;
    }

    h2, h3 {
        font-size: 1.2em;
    }

    ul li {
        font-size: 0.9em;
    }

    footer {
        font-size: 0.8em;
    }
}